@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-4px);
  }
  80% {
    transform: translateY(-2px);
  }
}

.circular-image {
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  overflow: hidden; /* Ensures the content within the border-radius is visible */
}

.tilt-root {
  position: relative;
  transition: transform 0.5s ease;
}

.tilt-root:hover {
  transform: rotate(5deg);
}

.myAvtar img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 300px;
}
